<html>

<head>
    <title>log In</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body class="d-flex justify-content-center  align-items-center">
    <div class="container-sm d-flex justify-content-center align-items-center flex-column">
        <h2>LOG IN </h2>
        <div class="card text-center border border-5 border-primary" style="width:35rem">
            <div class="card-body" >
                <form  action="/users/login" method="post">
                    <div class="sms">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">LOG IN</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>