<html>
    <head>
        <title>sign UP</title>
    </head>
    <body>
        <form action="/users" method="post">
            <label>NAME</label>
            <input type="text" name="name" placeholder="name" required>
            <label>EMAIL</label>
            <input type="text" name="email" placeholder="email" required>
            <label>PASSWORD</label>  
            <input type="password" name="password" placeholder="password" required> 
            <button type="submit">SIGN UP</button>     
        </form>
    </body>
</html>